/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dancing Script", cursive;
    background-color: #BB5238;
}

.casal {
    position: relative;
    overflow: hidden; /* Para esconder as partes fora do container */
}

.scroll-container {
    display: flex;
    width: 100vw; /* Utiliza a largura total da tela */
    transition: transform 0.5s ease; /* Efeito de transição */
}

.scroll-page {
    flex: 0 0 100vw; /* Cada página ocupa a largura total da tela */
}

.fotoCasal {
    width: 100%;
    height: 100vh; /* Altura total da tela */
    object-fit: cover; /* Para manter a proporção da imagem */
}

/* Estilos específicos para telas menores */
@media (max-width: 600px) {
    .tagsConvite {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .presenca {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .confimarPresenca {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }
}
